$sn-color: #00daa5;

html, body{
	background: #131313;
}

body.full{

  .slide{
    display: none;
    margin: 0 !important; 
    // background: #131313;
    &:after{
      content: none;
    }
  }

  .slide.active{
    display: block;
  }

  .slide > div{
    margin: 0;
    position: absolute;
    left: 50px;
    top: 50px;
    right: 50px;
    bottom: 50px;
    padding: 0;
    width: auto !important;
    // padding: 30px;
  }
  
}

xmp{
  margin: 0;
}

.vertical-align-parent {
  white-space: nowrap;
  text-align: center;
}
 
.vertical-align-parent:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.vertical-align {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

.progress div{
  background: #00daa5 !important;
}

.link:before{
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-left: -24px;
  background: url(../slides/link.svg);
  background-size: cover;
  vertical-align: middle;
}
