.bbpa-intro{

  div.vertical-align{
    width: 60%;
    text-align: center;
  }

  img{
    margin-bottom: 40px;
  }

}

.bbpa-stacked-bars-intro{
  .vertical-align{
    width: 70%;
  }
  h2{
    margin-bottom: 30px;
  }
  .module{
    min-height: 53px;
  }
  .stacked-bar{
    height: 28px !important;
    width: 100%;
  }
}


.bbpa-stacked-bars-example{
  
  .stacked-bar{
    margin-top: 150px;
    height: 28px !important;
    width: 100%;
  }

  .data{
    width: 600px;
    margin: 50px auto 0;
  }

}

.bbpa-stacked-bars-customisability{
  
  .stacked-bar{
    height: 28px !important;
    width: 100%;
  }

  .module-small, .module-big, .module-colors{
    height: 33%;
  }

}

.bbpa-donut-intro{

  .title{
    margin-bottom: 30px;
  }

  .module{
    min-width: 150px;
    min-height: 150px;
  }
  svg{
    margin: auto;
    display: block;
  }

}

.bbpa-donut-svg-syntax-1{
  pre code{
    padding: 3px;
    white-space: normal;    
  }
}

.bbpa-donut-svg-syntax-6, .bbpa-donut-svg-syntax-7{
  h2{
    margin-bottom: 10px;
  }
  ul{
    list-style-type: none;
  }
  li{
    display: inline-block;
    text-indent: 0 !important;
    margin-right: 30px;
    &:before{
      content: none !important;
    }
    &.x-axis-rotation{
      color: red;
    }
  }
  .command{
    font-family: 'Inconsolata';
    font-size: 60px;
    padding-bottom: 200px;
    margin-top: 30px;
    span{
      display: inline;
      position: relative;
      text-indent: 0 !important;
      .param{
        font-family: 'Open sans';
        font-size: 26px;
        position: absolute;
        top: 100%;
        left: 50%;
        -webkit-transform: rotate(45deg);
        -webkit-transform-origin: 0 50%;
      }
    }
  }
}

.bbpa-donut-helper{
  h2{
    margin-bottom: 20px;
  }
}
