.bbpa-intro{

  div.vertical-align{
    width: 60%;
    text-align: center;
  }

  img{
    margin-bottom: 40px;
  }

}

.bbpa-stacked-bars-intro{
  .vertical-align{
    width: 70%;
  }
  .stacked-bar{
    height: 28px !important;
    width: 100%;
  }
}


.bbpa-stacked-bars-example{
  
  .stacked-bar{
    margin-top: 150px;
    height: 28px !important;
    width: 100%;
  }

  .data{
    width: 600px;
    margin: 50px auto 0;
  }

}

.bbpa-stacked-bars-customisability{
  
  .stacked-bar{
    height: 28px !important;
    width: 100%;
  }

  .module-small, .module-big, .module-colors{
    height: 33%;
  }

}